<footer>
  <p>Made in <a href="https://pragmaticstudio.com/">The Pragmatic Studio</a></p>
  <p><a href="https://twitter.com/vmrocha" class="twitter-follow-button" data-show-count="false">Follow @vmrocha</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</footer>
